@layer components {
  .blog-index-header {
    @apply relative z-0 flex items-center justify-items-center px-20;
    @apply transition-colors duration-300 ease-in-out;
    height: calc(30vh + var(--triangleHeight));
    min-height: calc(450px + var(--triangleHeight));
    background-color: var(--primaryBg);
  }

  .blog-index-header-wrapper {
    @apply mx-auto space-y-2 md:space-y-4 text-left lg:text-center sm:max-w-screen-sm;
    transform: translateY(calc(var(--triangleHeight) / -2));
  }

  .blog-index-header h1 {
    @apply font-serif text-2xl capitalize text-white leading-snug md:text-5xl lg:text-8xl;
  }

  .blog-index-header p {
    @apply text-sm md:text-xl max-w-[500px];
  }

  /* Article Cards */

  .blog-item {
    @apply space-y-2;
    width: 45%;
  }

  .blog-item__thumbnail {
    @apply w-full h-64 mb-5;
    background-color: var(--primary-700);
    border-radius: 3px;
    overflow: hidden;
  }

  .blog-item__meta {
    @apply pb-2;
    display: flex;
    align-items: center;
  }

  .blog-item__category {
    @apply py-1 px-3 mr-3;
    @apply inline-block;
    @apply text-xs;
    background-color: var(--primary-600);
    border-radius: 15px;
    color: white;
  }

  .blog-item__reading-estimate {
    @apply text-xs text-white-rgba;
  }

  .blog-item__reading-estimate span {
    @apply inline-block;
  }

  .blog-item h2 {
    @apply text-3xl text-white mb-0;
  }

  .blog-item p {
    @apply text-sm text-white-rgba pb-2;
  }

  .blog-item__read-more {
    @apply space-x-2;
    @apply text-white font-semibold text-sm;
  }

  .blog-list {
    @apply mx-auto max-w-screen-lg;
    @apply flex justify-between;
  }
}
