#menu-illustration {
  @apply p-3;
  height: 200px;
  width: 100%;
  position: relative;
}

#menu-illustration > .menu-blob {
  z-index: -1;
  position: absolute;
  height: 200%;
  fill: var(--accent-200);
  opacity: 0.4;
  top: -80px;
  right: -50px;
}

#menu-illustration .alecia-laying-svg {
  z-index: 100;
  width: 100%;
}
