@layer components {
  .not-found-header {
    @apply relative z-0 flex items-center justify-items-center px-20;
    @apply transition-colors duration-300 ease-in-out;
    height: calc(30vh + var(--triangleHeight));
    min-height: calc(570px + var(--triangleHeight));
    background-color: var(--primaryBg);
  }

  .not-found-header-wrapper {
    @apply mx-auto space-y-2 md:space-y-4 text-center sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg;
    transform: translateY(calc(var(--triangleHeight) / -2));
  }

  .not-found-header h1 {
    @apply font-serif text-2xl text-center text-white leading-snug md:text-5xl lg:text-8xl;
  }

  .not-found-header p {
    @apply text-sm md:text-xl text-center w-full;
  }
}
